<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>The Homepage <%= 'helloworld'.toUpperCase() %></h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae aspernatur doloribus ab voluptates hic, voluptatum, quasi repellendus reprehenderit porro quam quos veritatis. Qui quos ex laudantium officiis. Unde, laudantium nam? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quis corporis aliquid deserunt. Obcaecati quod, porro ab atque culpa, id libero, dolor quia ipsa dicta aperiam quisquam saepe recusandae. Delectus?</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae aspernatur doloribus ab voluptates hic, voluptatum, quasi repellendus reprehenderit porro quam quos veritatis. Qui quos ex laudantium officiis. Unde, laudantium nam?</p>
</body>
</html>